body {
    background: tan;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: brown;
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
} 
.sketch-row {
    display: flex;
    gap: 10px;
}
.sketch-row img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: maroon; /* pick a color */
border-radius: 20%;
}
/* chatgbt */
.project img {
    width: 100%;            
    height: auto;           
    border-radius: 20px;    
    display: block;         
    object-fit: cover;      
}